@model LoginViewModel

<div class="register-page">
    <div class="lead">
        <h1>Register passwordless login</h1>
        <p>Register passwordless login</p>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Local Account</h2>
                </div>

                <div class="card-body">
                    <form asp-route="PasswordlessLogin" id="signin">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input class="form-control" placeholder="Username" asp-for="Username" name="username" autofocus>
                        </div>
                        <button class="btn btn-primary" name="button" value="login">Register</button>
                        <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/passwordless.login.js"></script>
<script src="~/js/helpers.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>